/*Убираем иконку загрузки битрикса*/
div[id^="wait_"]
{
    display: none !important;
    background: none !important;
    border: 0 !important;
    color: #000000;
    font-family: Verdana, Arial, sans-serif; 
    font-size: 11px;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal;
    letter-spacing: normal !important;
    line-height: normal;
    padding: 0 !important;
    position: absolute;
    text-align: center !important;
    text-indent: 0 !important;
    width: 0px !important;
    height: 0px !important;
    word-spacing: normal !important;
    z-index: 0;
    content: "";
}


.my-hint /********яндекс карты***********/
{
	padding: 10px;
	width: 160px;
	background-color: #faefb6;
	border: 1px solid #CDB7B5;
	border-radius: 20px;
	font-size: 11px;
	font-family: "ManropeRegular", sans-serif;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*.headd
{
	min-height: 100vh;
}*/

.hasError
{
	background: #F0FFF0;
	border: 1px red solid;
	color: red;
}

.content
{
    margin-left: calc(100%/1920*470 + 10px);
    margin-right: 10px;
}

/*Попап на заявку*/
.send_order
{
	background: #797979;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
}

.send_order .pop-up-form
{
	position: relative;
	max-width: 850px;
    width: 100%;
    margin: 0 auto;
	background: #ffffff;
	border-radius: 10px;
	padding: 50px 90px;
}

.send_order h2
{
	font-size: 33px;
	font-family: "ManropeRegular", sans-serif;
	text-align: center;
	margin: 0px;
}

.send_order p
{
	font-size: 21px;
	line-height: 25px;
	font-family: "ManropeRegular", sans-serif;
	text-align: center;
	margin: calc(100%/630*18) 0 calc(100%/630*45) 0;
	color: #484848;
}

.send_order .below_input_text
{
	margin: calc(100%/630*10) 0 calc(100%/630*35) 0;
}

.send_order input
{
	width: 100%;
	height: 60px;
	margin-bottom: calc(100%/630*20);
	font-size: 21px;
	font-family: "ManropeRegular", sans-serif;
	padding-left: 4%;
}

.send_order span
{
	color: #4e7144;
}

.send_order .buttonn
{
	cursor: pointer;
}

.send_order .buttonn:hover
{
	background:#969696;
}

.send_order .buttonn
{
	display: block;
	margin: 0 auto;
	border-radius: 5px;
	background: #4e7144;
	color: #fefefe;
	border: 1px #4e7144 solid;
	transition: background 0.5s ease;
	font-family: "ManropeRegular", sans-serif;
	width: 35%;
	height: 60px;
	font-size: 23px;
}

.send_order #close
{
	font-size: 38px;
	position: absolute;
	right: -40px;
	top: -40px;
	color: #d2e3ce;
	cursor: pointer;
}

.send_order #close:hover
{
	color: black;
}

.show_pop_up_order
{
	position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex !important;
    animation: showPopUp 0.5s ease forwards;
}

@keyframes showPopUp
	{
	  0% 
	  {
	  	opacity: 0%;
	   
	  }
	  100% 
	  {
	  	opacity: 100%;
	   	background: rgba(121, 121, 121, 0.8);
	  }
	}

/*********success****************/
#succes_order 
{
    font-size: 23px !important;
    font-family: "ManropeRegular", sans-serif;
    text-align: center;
    margin: 30px 0;
}

.send_order .pop-up-form 
{
    /*max-width: 500px;
    padding: 70px 40px;*/
}
/*Попап на заявку*/


/***************************************Хидер*******************************/
@font-face 
{ 
    font-family: "ManropeRegular";
    src: url("../fonts/ManropeRegular/ManropeRegular.eot");
    src: url("../fonts/ManropeRegular/ManropeRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ManropeRegular/ManropeRegular.woff") format("woff"),
    url("../fonts/ManropeRegular/ManropeRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* 
{
	box-sizing: border-box;
}

body
{
	margin: 0px;
}

.headd .left_menu .video p
{
	margin-left: 18px !important;
}

.headd
{
	display: flex;
}

.headd nav .emblema_menu
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.headd nav .emblema_menu h2
{
	font-size: 20px;
	margin-right: 2%;
	display: none;
}

.headd .left_menu
{
	position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: white;
    min-height: 100vh;

	/*width: calc(100%/1920*640);*/
	width: calc(100%/1920*470);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0px 0px 15px 5px #f3f3f3;
	/*background: red;*/
}

.headd .left_menu nav .main_page_ref
{
	width: calc(100%/640*350);
	/*margin: calc(100%/1080*70) 0 calc(100%/1080*67) calc(100%/640*50);*/
	margin: 5vh 0 5vh calc(100%/640*50);
}

.headd .left_menu nav .main_page_ref img
{
	width: 100%;
}

.headd .left_menu nav .one_menu
{
	display: flex;
	flex-wrap: wrap;
	margin-left: calc(100%/640*50);
	/*margin-bottom: calc(100%/1080*70);*/
	margin-bottom: 5vh;
	margin-top: 0;
	padding: 0px;
}

.headd .left_menu nav  .one_menu li
{
	margin-right: calc(100%/640*45);
}

.headd ul li
{
	list-style-type: none;
}

.headd .left_menu nav .one_menu a
{
	/*border-bottom: 2px black solid;*/
}

.headd ul li a 
{
	/*font-size: 27px;*/
	font-size: 1.5vw;
	font-family: "ManropeRegular", sans-serif;
	text-decoration: none;
	color: black;
}

.headd .left_menu nav .two_menu
{
	margin: 0 0 5vh 0;
	/*margin-bottom: calc(100%/1080*100);*/
	padding: 0px;
}

.headd .left_menu nav .two_menu li
{
	border-top: 1px #b2b2b2 solid;
	height: 7vh;
	display: flex;
	align-items: center;
}

.headd .left_menu nav .two_menu li:last-child
{
	border-bottom: 1px #b2b2b2 solid;
}

.headd .left_menu nav .two_menu li a
{
	margin-left: calc(100%/640*50);
}

.headd .left_menu nav .three_menu
{
	/*margin-top: calc(100%/1080*150);
	margin-bottom: calc(100%/1080*100);*/
	padding: 0px;
	margin: 0 0 0 calc(100%/640*50);
}

.headd .left_menu nav .three_menu li
{
	/*margin-bottom: 25px;*/
}

.headd .left_menu .video
{
	/*height: calc(100%/1080*92);*/
	height: 10vh;
	background: #f8f8f8;
	display: flex;
	align-items: center;
}

.headd .left_menu .video div:nth-child(1)
{
	width: calc(100%/640*150);
	height: 100%;
	border: 1px #84828e solid;
	display: flex;
	justify-content: center;
	align-items: center;
}

.headd .left_menu .video div img
{
	/*width: calc(100%/140*45);*/
	width: 100%;
	margin: 0px;
}

.headd .left_menu .video div a
{
	width: calc(100%/140*45);
	margin-top: 5px;
}

.headd .left_menu .video p
{
	/*font-size: 18.46px;*/
	font-size: 1vw;
	font-family: "ManropeRegular", sans-serif;
	margin-left: 18px;
}

/*Поправочные классы на скрол*/
.modify_scroll .two_menu,
.modify_scroll .video,
.modify_scroll_right
{
	display: none !important;
}

.modify_scroll .three_menu .delete_menu_item
{
	display: none !important;
	/*margin-right: 0px !important;*/
}

.modify_scroll
{
	display: block !important;
	width: 100% !important;
	background: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 996;
    box-shadow: 0px 0px 15px 5px #f3f3f3;
}

.modify_scroll nav
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 95%;
	margin: 10px auto;
}

.modify_scroll nav .main_page_ref,
.modify_scroll .one_menu,
.modify_scroll .three_menu
{
	margin: 0px !important;
}

.modify_scroll h3
{
	display: block !important;
}

.modify_scroll .all_menu
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.modify_scroll .three_menu
{
	display: flex;
	flex-wrap: wrap;
}

.modify_scroll li a
{
    font-size: 23px !important;
    font-family: "ManropeRegular", sans-serif;
}

.modify_scroll li 
{
	margin-bottom: 0px !important;
	margin-right: 30px !important;
}

.modify_scroll nav .one_menu a 
{
    border-bottom: none !important;
}

.modify_scroll .emblema_menu
{
	width: 20%;
    margin-right: 20px;
}

.modify_scroll .emblema_menu .main_page_ref
{
	width: 100% !important;
}

.modify_scroll h3
{
	margin: 0px;
    font-size: 23px;
    font-family: "ManropeRegular", sans-serif;
}

.modify_scroll .burger_menu 
{
    width: 5% !important;
}

.modify_scroll nav .emblema_menu h2
{
	display: none !important;
}
/*modify_scroll_right*/

/*******************************/
.left_menu .scroll_submenu_ready,
.left_menu .scroll_submenu_about_company
{
	display: none;
	position: absolute;
	/*top: 10px;*/
	padding: 0px;
    z-index: 999999;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px 5px #f3f3f3;
}

.left_menu .scroll_submenu_ready li,
.left_menu .scroll_submenu_about_company li
{
	margin: 0;
	padding-left: 30px;
	width: 350px;
	height: 60px;
	display: flex;
	align-items: center;
	border-bottom: 1px #b2b2b2 solid;
	margin-right: 0px !important;
}

.left_menu .scroll_submenu_ready li:last-child,
.left_menu .scroll_submenu_about_company li:last-child
{
	border-bottom: none !important;
}

.left_menu .submenu_one,
.left_menu .submenu_three
{
	position: relative;
}
/*Поправочные классы на скрол*/
/***************Анимация*****************/
.hide
{
	display: none !important;
}

.show
{
	display: block !important;
	animation: showBlock 0.5s ease forwards;
}

@keyframes showBlock
	{
	  0% 
	  {
	  	opacity: 0%;
	    width: 0%;
	  }
	  100% 
	  {
	  	opacity: 100%;
	    width: 100%;
	  }
	}

.deactive_menu
	{
		animation: HideBlock 0.5s ease forwards;
	}

@keyframes HideBlock 
	{
	  0% 
	  {
	  	width: 100%
	    opacity: 100%;
	  }

	  50%
	  {
	  	opacity: 0%;
	  }

	  100% 
	  {
	  	width: 0%;
	    opacity: 0%;
	  }
	}

.modify_scroll
{
	animation: showScrollBlock 0.5s ease forwards;
}

@keyframes showScrollBlock
	{
	  0% 
	  {
	    opacity: 0%;
	  }
	  100% 
	  {
	    opacity: 100%;
	  }
	}

.show_sub_menu
{
	display: block !important;
	animation: showSubMenu 0.9s ease forwards;
}

@keyframes showSubMenu
	{
	  0% 
	  {
	    opacity: 0%;
	  }
	  100% 
	  {
	    opacity: 100%;
	  }
	}
/***************Анимация*****************/
.buttonn
{
	display: block;
	margin: 0 auto;
	border-radius: 5px;
	background: #4e7144;
	color: #fefefe;
	border: 1px #4e7144 solid;
	transition: background 0.5s ease;
}

.buttonn:hover
{
	background:#969696;
}

ul li a:hover
{
	color:#4e7144 !important;
}
/***************************************Хидер*******************************/












/*******************************************Футер********************/
@font-face 
{ 
    font-family: "ManropeRegular";
    src: url("../fonts/ManropeRegular/ManropeRegular.eot");
    src: url("../fonts/ManropeRegular/ManropeRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ManropeRegular/ManropeRegular.woff") format("woff"),
    url("../fonts/ManropeRegular/ManropeRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* 
{
	box-sizing: border-box;
}

body
{
	margin: 0px;
}

.footerr
{
	margin-top: 60px;
	width: 100%;
	/*height: 376px;*/
	background: #dcdcdc;
	padding: 20px 0 20px 0;

}

.footerr .content
{
	display: flex;
	/*align-items: center;
	height: 100%;*/
}

.footerr .content .left_info
{
	/*width: calc(100%/1790*466);*/
	width: 30%;
	/*margin-top: 100px;*/
}

.footerr nav
{
	width: 40%;
	/*margin-top: 100px;*/
}

.footerr .emblema
{
	width: calc(100%/466*350);
}

.footerr .content .left_info div a
{
	/*width: calc(100%/466*50);*/
	width: 5%
	margin-right: 10px;
	text-decoration: none;
}

.footerr .content .left_info div img
{
	width: 15%;
	margin-right: 20px;
}

.footerr .content .left_info div
{
	margin: 25px 0 25px 0;
}

.footerr .content .left_info p
{
	margin: 0;
	font-size: 12px;
	font-family: "ManropeRegular", sans-serif;
	width: 70%;
}

.footerr ul li
{
	list-style-type: none;
	/*margin-bottom: 17px;*/
	height: 40px;
}

.footerr ul
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0px;
	padding: 0px;
}

.footerr ul li a
{
	text-decoration: none;
	color: black;
	font-size: 16px;
	font-family: "ManropeRegular", sans-serif;
}

.footerr nav
{
	display: flex;
}

.footer_menu_two
{
	margin-left: 15px !important;
}


.footerr .content .contactt
{
	/*margin-top: 100px;*/
	width: 30%;
	display: flex;
	justify-content: flex-end;
}

.footerr .content .contactt div
{
	text-align: right;
}

.footerr .content .contactt div h2
{
	margin: 0px;
	font-size: 25px;
	font-family: "ManropeRegular", sans-serif;
}

.footerr .content .contactt div p
{
	margin: 0px;
	font-size: 16px;
	font-family: "ManropeRegular", sans-serif;
}
ul li a:hover
{
	color:#4e7144 !important;
}
/*******************************************Футер********************/

















